[submodule "third-party/rust-sdks"]
	path = third-party/rust-sdks
	url = https://github.com/livekit/rust-sdks.git
[submodule "third-party/stdexec"]
	path = third-party/stdexec
	url = https://github.com/NVIDIA/stdexec.git
[submodule "third-party/abc"]
	path = third-party/abc
	url = https://github.com/PaytonWu/abc.git
[submodule "third-party/jwt-cpp"]
	path = third-party/jwt-cpp
	url = https://github.com/Thalhammer/jwt-cpp.git
